* {
  margin: 0%;
  padding: 0%;

}
.topnav{
    height: 5vh;
    background: blanchedalmond;
}

.main{
  display: flex;
  height: 68vh;
}

.sidebar{
  width: 15%;
  height: 95vh;
  background: linear-gradient(red,orange,yellow,green,blue,indigo,violet) ;
} 
a.active {
  margin: 3%;
  color: black;
  font-size: 2.5vh;
  text-decoration: none;
}
.content {
  background-image: url(./whiteandgray1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 70%;
  height: 95vh;
}
.sidebar1 {
  width: 15%;
  height: 95vh;
  background: linear-gradient(red,orange,yellow,green,blue,indigo,violet) ;
}
a.active {
  margin-left: 15%;
  font-size: 35px;
  font-style: oblique;
}
p {
  display: flex;
  height: 95vh;
  align-items: flex-end;
  justify-content: flex-end;
  font-size: 28px;
}
h1 {
  display: flex;
  justify-content: center;
  font-size: 45px;
  color: black;
}
img {
  margin-top: 7%;
  width: 550px;
  height: 550px;
}
img {
  margin-left: 6%;
}